<!DOCTYPE html>
{% extends 'Marketplace/base.html'%}

<head><title>{% block head %}Password Reset Form{% endblock %}</title></head>

<h1>{% block title %}Password Reset Form - {{ block.super }}{% endblock %}</h1>

{% block body %}
<br><br<br><br><br><br><br><br><br>
<div align="center">    
    <h6>Password Reset Form</h6>
    <form class="form-group" role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class='btn-primary' type="submit" value="Submit" />
    </form>
</div>


{% endblock %}


</html>