{% extends 'Marketplace/base.html'%}

<head><title>{% block head %}Password Change Form{% endblock %}</title></head>

<h1>{% block title %}Password Change Form - {{ block.super }}{% endblock %}</h1>

{% block body %}
<br><br><br><br><br>
<div class="lead">
     <h3 class="nav-color">Password Change Form</h3>
        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
</div>

{% endblock %}