{% extends 'Marketplace/base.html'%}


<!DOCTYPE html>
<html>

<head>
	<title>{% block head %}Privacy Policy{% endblock %}</title>
</head>

<body>
	
		<h1>{% block title %}Privacy Policy{% endblock %}</h1>



		{% block body %}
<br><br><br>
  
    
<h2 class='nav-color'>Privacy Policy</h2>


<div class="lead">

<p>By accessing the content of https://learnit.com (hereafter referred to as Learnit), you agree to the terms and conditions set out herein and also accept our Privacy Policy.</p>

<p>Do not use Learnit if you do not agree to the following terms and conditions.</p>

<p>You agree that you shall not use Learnit for any illegal purpose, and that you will respect all applicable laws and regulations.</p>

<p>You agree to be fully responsible for any claim, expense, losses, liability, costs including legal fees incurred by us arising from any infringement of the terms and conditions in this agreement and to which you will have agreed if you continue to use the website.</p>



<br>

<h3 class="nav-color">Disclaimer</h3>

<p>Learnit takes no responsibility for the use of information found on this site, as 
users are solely accountable for whatever they post on learnit.</p>

<p>However, any content that is deemed unwholesome or damaging to the public will be removed from
this site.</p>

<p>Learnit may also contain links to other sites; if you click on a third party link, 
you will be directed to that third party’s site. You are advised to 
review the privacy policy of every site you visit. Learnit has no control over, 
and assumes no responsibility for the content, privacy policies or practices of 
any third party site or service.</p>

</div>
  
  
<br><br><br>
		{% endblock %}

</body>


</html>